<div class="card">
    <form class='login-form'>
        <div class="flex-row">
          <label class="lf--label" for="username">
            <i class="fas fa-user"></i>
          </label>
          <input id="username" class='lf--input' placeholder='Username' type='text' [(ngModel)]="username">
        </div>
        <div class="flex-row">
          <label class="lf--label" for="password">
            <i class="fas fa-lock"></i>
          </label>
          <input id="password" class='lf--input' placeholder='Password' type='text' [(ngModel)]="password">
        </div>
        <button class='lf--submit' (click)="login()">LOGIN</button>
    </form>
</div>

<div *ngIf="logged">
  <p>hello</p>
</div>